<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>

  <div class="header">
      <div class="title">
        <h1>{{ site.title }}</h1>
      </div>
    </div>
    <!-- Grid -->
    <div class="grid-wrapper">
      {% assign ordered_pages = site.abstract | sort:"order_number" %} {% for
      item in ordered_pages %} {% include sections.html %} {% endfor %}
    </div>

    {% if site.images.figure_1 %}
    <img src="{{ site.images.figure_1}}">
    {% endif %}

    {% if site.images.figure_2 %}
    <img src="{{ site.images.figure_2}}">
    {% endif %}

    {% if site.images.figure_3 %}
    <img src="{{ site.images.figure_3}}">
    {% endif %}

    {% if site.images.figure_4 %}
    <img src="{{ site.images.figure_5}}">
    {% endif %}

    {% if site.images.figure_5 %}
    <img src="{{ site.images.figure_5}}">
    {% endif %}

  </body>
</html>
